.github/**
.vscode/**
.vscode-test-web/**
docs/**
out/**
src/**
examples/**
node_modules/**
.editorconfig
.gitignore
CONTRIBUTING.md
webpack.config.js
**/tsconfig.json
**/tsconfig.*.json
**/.eslintrc.json
**/*.map
**/*.ts
