.headerContainer {
  padding: 3.3rem 0;
  background: var(--c-gray-bg);
}

.header {
  padding: 0 1.8rem;
  max-width: 760px;
  margin: 0 auto;
}

.emoji {
  margin-top: -0.5em;
  font-size: 56px;
  color: #000;
}

.title {
  font-size: 1.9rem;
}

.headerPropertyContainer {
  margin-top: 1rem;
}

.headerProperty {
  display: flex;
  font-size: 0.92rem;
  color: var(--c-gray);
}

.headerPropertyLabel {
  font-weight: 700;
  width: 140px;
}
.headerPropertyValue {
  flex: 1;
}

.zncContainer {
  max-width: 760px;
  margin: 0 auto;
  padding: 3rem 1.8rem;
}

.topic {
  display: inline-flex;
  color: var(--c-gray);
  font-size: 0.9em;
  border: solid 1px var(--c-gray-border);
  background: #fff;
  padding: 0.1em 0.4em;
  border-radius: 5px;
  margin: 3px 6px 3px 0;
}

.validationErrors {
  margin-top: 1.4rem;
}
